<!doctype html>
<html>

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cookline: http://ogp.me/ns/fb/cookline#">
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta property="fb:app_id"      content="294113397324835" />
    <meta property="og:type"        content="<%= type %>" />
    <meta property="og:url"         content="<%= url %>" />
    <meta property="og:title"       content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image"       content="<%= image %>" />

    <% if (ingredients) {
      ingredients.forEach(function(ingredient) {
        %>
          <meta property="og:ingredients" content="<%= objectUrl('ingredient', ingredient) %>" />
        <%
      });
    } %>

    <style>

    </style>

  </head>

  <body>

    <article>
      <h1><%= title %></h1>
      <img src='<%=image%>' />
      <p><%= description %></p>
      <button id='login'>Login</button>
      <button id='cook' style='display:none'>Cook</button>
      <button id='logout' style='display:none'>Logout</button>
    </article>


    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {

        var login = document.getElementById('login');
        var cook = document.getElementById('cook');
        var logout = document.getElementById('logout');

        FB.init({
          appId: '294113397324835',
          status: true,
          cookie: true
        });

        login.addEventListener('click', function(e) {
          FB.login(function(rsp) {}, {scope:'publish_actions'});
        });

        logout.addEventListener('click', function(e) {
          FB.logout();
        });

        cook.addEventListener('click', function(e) {
    			FB.api('/me/cookline:cook', 'POST', {
    				"dish": "<%= url %>"
    			}, function(rsp){
            alert("Congratulations! You cooked <%= title %>.");
          });
        });

    		FB.Event.subscribe('auth.statusChange', function(rsp) {
    			if (rsp.authResponse) {
    				FB.api('/me', function(me) {
              login.style.display = 'none';
              cook.style.display = 'block';
              cook.innerHTML = 'Cook, ' + me.first_name + '!';
              logout.style.display = 'block';
            });
    			} else {
            login.style.display = 'block';
            cook.style.display = 'none';
            cook.innerHTML = 'Cook';
            logout.style.display = 'none';
    			}
    		});

      };

      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));

    </script>




  </body>
</html>


