<!doctype html>
<html>

  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# cookline: http://ogp.me/ns/fb/cookline#">
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta property="fb:app_id"      content="294113397324835" />
    <meta property="og:type"        content="<%= type %>" />
    <meta property="og:url"         content="<%= url %>" />
    <meta property="og:title"       content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:image"       content="<%= image %>" />

    <% if (ingredients) {
      ingredients.forEach(function(ingredient) {
        %>
          <meta property="og:ingredients" content="<%= objectUrl('ingredient', ingredient) %>" />
        <%
      });
    } %>

    <style>

    </style>

    <script>
      window.fbAsyncInit = function() {

        FB.init({
          appId: '294113397324835',
          status: true,
          cookie: true
        });

    		FB.Event.subscribe('auth.statusChange', function(rsp) {
    			console.log(rsp)
    //			if (rsp.authResponse) {
    //				FB.api('/me', function(me){
    //					console.log(me)
    //					document.getElementById('fb-username').innerHTML = me.name;
    //					document.getElementById('fb-login-button').style.display = 'none';
    //					document.getElementById('fb-loggedin').style.display = 'block';
    //				});
    //        // get the permissions the user's already granted, we'll need them later
    //				FB.api('/me/permissions', function(response){
    //          if (response) {
    //  					console.log(response.data[0]);
    //            permissions = response.data[0];
    //          }
    //				})
    //			} else {
    //				document.getElementById('fb-login-button').style.display = 'block';
    //				document.getElementById('fb-loggedin').style.display = 'none';
    //
    //			}
    		});

    		// Cook Action
    //		document.getElementById('button').addEventListener('click', function(e){
    //        FB.login(function(rsp){
    //  				FB.api('/me/permissions', function(response){
    //  					console.log(response.data[0]);
    //            permissions = response.data[0];
    //  				})
    //          // Could re-attempt to publish here, but won't for simplicity
    //        },{scope:'publish_actions'})
    //
    //      } else {
    //        // all good, let try and publish an action using the og:url tag as the object URL
    //  			FB.api('/me/simonsfoodapp:cook', 'POST', {
    //  				"recipe": document.getElementById('og-url').getAttribute('content')
    //  			}, function(rsp){
    //          console.log(rsp)
    //  				if (rsp.id) {
    //  				  alert('action published with ID: ' + rsp.id)
    //  				}
    //  			})
    //      }
    //		})

      };

      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));

    </script>
  </head>

  <body>

    <article>
      <h1><%= title %></h1>
      <img src='<%=image%>' />
      <p><%= description %></p>
      <button id='button'>-</button>
    </article>

    <footer>
    </footer>
    <div id="fb-root"></div>
  </body>
</html>


